body{
    background-image: linear-gradient(118.68396960667803deg, rgba(255, 122, 122,1) 3.821428571428571%,rgba(255, 122, 122,1) 5.337301587301586%,rgba(68, 0, 255,1) 94.77380952380952%);
}
.containerp{
    padding: 10px;
    width: 500px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.pci{
    width: 200px;
    height: 160px;
    border-radius: 50%;

}

.pn{
    padding-top: 10px;
    color: bisque;

}
.pmr{
    padding: 55px;
}
.pm{
    padding: 25px;
    border-radius: 50px;
background: linear-gradient(145deg, #e65f00, #ff7100);
box-shadow:  20px 20px 60px #d95a00,
             -20px -20px 60px #ff7a00;


}
.pnn{
    color:beige;
}
.pnr{
    padding: 40px
}
.pnrr{
    border-radius: 50px;
    background: linear-gradient(145deg, #8a25aa, #a42cca);
    box-shadow:  20px 20px 60px #8223a1,
                -20px -20px 60px #b02fd9;
    padding: 20px;
}